<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>safariNG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF7B88D51BD8849700F4CD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7B88EE1BD8849700F4CD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7B88F91BD8849700F4CD4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
